@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* Header Zone */

header {
  top: 0;
  height: 100px;
  border-bottom: 2px solid rgb(215, 208, 208);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
}

#logo {
  width: 140px;
  margin-left: 20px;
}

#user-avatar {
  width: 70px;
  margin-right: 20px;
  border-radius: 50%;
}

#logo:hover,
#logo:focus,
#user-avatar:hover,
#user-avatar:focus {
  cursor: pointer;
  scale: 0.95;
}

/* Main Content */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  box-shadow: -5px 5px 10px -1px #000000;
  border-radius: 10px;
}

/* Post Header */

.post-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.post-header div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.name {
  font-weight: 700;
  font-size: 17px;
}

.avatar:hover,
.avatar:focus {
  cursor: pointer;
}

.name:hover,
.name:focus,
.location:hover,
.location:focus {
  cursor: pointer;
  color: rgb(112, 110, 110);
}

/* Main Photo */

.selfie {
  width: 100%;
}

/* Buttons Below Photo */

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.buttons img {
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.buttons img:hover,
.buttons img:focus {
  cursor: pointer;
}

/* Main Content */

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
  gap: 5px;
}

.content p {
  margin-left: 12px;
  font-size: 18px;
}

#username {
  font-weight: 900;
}
